/BD/TestingConexionMYSQL/nbproject/private/
/BD/TestingConexionMYSQL/build/
/Design_Pattern/StrategyPattern/nbproject/private/
/Design_Pattern/StrategyPattern/build/
/Design_Pattern/DecoratorPattern/nbproject/private/
/Design_Pattern/DecoratorPattern/build/
